<!DOCTYPE html>
<html lang="es_AR">
  <head>
    <title>Agustín Barbalase</title>
    <meta name="description" content="Portafolio de Agustín Barbalase" />
    <meta property="og:url" content="<%= baseUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= baseUrl %>/public/profile.jpg" />
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200"> 
    <meta property="og:title" content="Agustín Barbalase" /> 
    <meta property="og:description" content="Portafolio de Agustín Barbalase" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Agustín Barbalase @agus_barbalase">
    <meta name="twitter:description" content="Portafolio de Agustín Barbalase">
    <meta name="twitter:url" content="<%= baseUrl %>">
    <meta name="twitter:image" content="<%= baseUrl %>/public/profile.jpg">
    <meta name="twitter:url" content="<%= baseUrl %>">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
